######################################################
### 	Configuration for Intarsis processing   ######
######################################################
# Not every parameter is mandatory and some of the   #
# included routines can be called with them as       #
# parameters. Leave an space between the name and the#
# value.                                             #
######################################################

# Step 01: file preparation
# dem filename 
dem_filename dem_srtmv1.grd 		# filename of the DEM

# Step 02: allignment
# Master acquisition for corregistration
master_slc 20150402			# master SLC. Use one in the middle of the cluster. Format: YYYYMMDD
swath_number F3				# Swath to process. Currently does not support merging. F1, F2 or F3 valid for IW1, IW2 and IW3
use_esd true				# Use ESD for fine corregistration (TOPS)

# Step 03: Intererogram generation
b_perp 250				# Maximum perpendicular baseline
b_temp 250				# Maximum days between interferometric pairs

# Step 03 and 05: Parallelization of task (for interferogram generation and unwrapping)
use_parallel true			# false disables paralellization (NOT IMPLEMENTED YET, USE TRUE)
num_cores 20				# number of cpu cores to use

# Step 04: masking (optional)
use_mask true				# generate coherence mask. set to true to enable, false to disable
mask_level 0.10				# coherence level for masking

# Step 05: Unwrap parameters
unwrap_coherence 0.01			# Coherence threshold for unwrapping. Use 0 to disable. (NOT IMPLEMENTED YET)
unwrap_interpolation false		# Use interpolation for low coherence pixels. (NOT IMPLEMENTED YET)

# Step 06: SBAS parameters
atm_iter	2			# number of atmospheric iterations (each number uses much more ram)
smooth_level	1			# smoothness level (1-5), Use 0 to disable





