######################################################
### 	Configuration for Intarsis processing   ######
######################################################

# Master image for corregistration
Master_image = 

# Baselines
B_perp = 
B_temp =

# Parallelization of task (interferogram generation and unwrapping)
Parallel = true
NUM_CORES = 20






