######################################################
### 	Configuration for Intarsis processing   ######
######################################################
# Not every parameter is mandatory and some of the   #
# included routines can be called with them as       #
# parameters. Leave an space between the name and the#
# value.                                             #
######################################################

# dem filename 
use_dem dem_srtmv1.grd			# filename of the DEM

# Master acqusition for corregistration
master_slc 20160701 			# master SLC. Use one in the middle of the cluster. Format: YYYYMMDD

# Intererogram generation values
b_perp 200				# Maximum perpendicular baseline
b_temp 150				# Maximum days between interferometric pairs

# Parallelization of task (interferogram generation and unwrapping)
use_parallel true			# false disables paralellization
num_cores 20				# number of cpu cores to use

# SBAS parameters
atm	2				# number of atmospheric iterations (each number uses much more ram)
smooth	2				# smoothness level (1-5)





